# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
__pycache__/
*.pyc

# IDE / Editor specific
.vscode/
.idea/

# Django
*.log
db.sqlite3
db.sqlite3-journal # SQLite journal file
staticfiles/ # If this is your STATIC_ROOT
media/ # If you use media files and don't want to commit user uploads

# OS specific
.DS_Store
Thumbs.db

# ENV
.env