# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
__pycache__/
*.pyc

# IDE / Editor specific
.vscode/
.idea/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# OS specific
.DS_Store
Thumbs.db

# ENV
.env